<!DOCTYPE html>
<html>
<head>
    <title>数据字典</title>
    <link rel='stylesheet' href='/stylesheets/systemmanage.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
</head>
<body>
    <script type="text/javascript" src="javascripts/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="javascripts/bootstrap.min.js"></script>
    <h2>数据字典</h2>

    <div>
        <table class="table table-bordered" style="text-align: center">
            <thead>
            <tr >
                <td><label class="btn btn-danger">民 &nbsp;族</label></td>
                <td><label class="btn btn-info">党政机关</label></td>
                <td><label class="btn btn-primary">政治面貌</label></td>
                <td><label class="btn btn-success">指标类型</label></td>
                <td><label class="btn btn-warning">用户权限</label></td>
            </tr>
            </thead>
            <tbody>
            <tr class="active">
                <td><label>汉族</label></td>
                <td><label>党的机关</label></td>
                <td><label>中共党员</label></td>
                <td><label>省级指标</label></td>
                <td><label>管理员</label></td>
            </tr>
            <tr class="success">
                <td><label>藏族</label></td>
                <td><label>人大机关</label></td>
                <td><label>共青团员</label></td>
                <td><label>市级指标</label></td>
                <td><label>部门领导</label></td>
            </tr>
            <tr class="warning">
                <td><label>壮族</label></td>
                <td><label>行政机关</label></td>
                <td><label>民主党派</label></td>
                <td><label>区级指标</label></td>
                <td><label>普通职工</label></td>
            </tr>
            <tr class="danger">
                <td><label>回族</label></td>
                <td><label>政协机关</label></td>
                <td><label>群众</label></td>
                <td><label>单位指标</label></td>
                <td><label></label></td>
            </tr>
            <tr class="info">
                <td><label>蒙古族</label></td>
                <td><label>审判机关</label></td>
                <td><label></label></td>
                <td><label></label></td>
                <td><label></label></td>
            </tr>
            <tr class="active">
                <td><label>维吾尔族</label></td>
                <td><label>检察机关</label></td>
                <td><label></label></td>
                <td><label></label></td>
                <td><label></label></td>
            </tr>
            <tr class="success">
                <td><label>其他民族</label></td>
                <td><label>共青团</label></td>
                <td><label></label></td>
                <td><label></label></td>
                <td><label></label></td>
            </tr>
            <tr class="warning">
                <td><label></label></td>
                <td><label>妇联</label></td>
                <td><label></label></td>
                <td><label></label></td>
                <td><label></label></td>
            </tr>
            </tbody>
        </table>
    </div>
</body>
</html>