<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/systemmanage.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
    <style type="text/css">
        .widget {
            border-radius: 5px;
            padding: 15px 20px;
            margin-bottom: 10px;
            margin-top: 10px;
        }
    </style>
</head>
<body>
    <script type="text/javascript" src="/javascripts/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
    <div>

        <div class="jumbotron" style="padding-top: 5px;background-color: #F8F8F8;padding-bottom: 5px;">
            <h2 style="text-align: center; color: #1AB394;">您好，<span style="font-size: 25px;"><%=username%></span>，欢迎使用党政监督绩效管理系统！</h2>
            <p >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;党政监督绩效管理系统主要用于对党政绩效进行有效的管理。它的目的与意义在于提高政府运作效率、降低运作成本、加强监
                管、
                促进政务公开。从而推动党政部门电子政务的信息化、公开化，对于建设一个公正廉洁，工作有效率的政府具有重要的意义。</p>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="widget text-center" style="background-color: #ed5565;color: #ffffff;">
                    <div class="m-b-md">
                        <i class="fa fa-bell fa-4x"></i>
                        <h1 class="m-xs">用户管理</h1>
                        <h3 class="font-bold no-margins">
                            系统权限
                        </h3>
                        <small>管理用户信息</small>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="widget text-center" style="background-color: #23c6c8;color: #ffffff;">
                    <div class="m-b-md">
                        <i class="fa fa-bell fa-4x"></i>
                        <h1 class="m-xs">指标管理</h1>
                        <h3 class="font-bold no-margins">
                            系统权限
                        </h3>
                        <small>管理指标信息</small>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="widget text-center" style="background-color: #f8ac59;color: #ffffff;">
                    <div class="m-b-md">
                        <i class="fa fa-bell fa-4x"></i>
                        <h1 class="m-xs">查询统计</h1>
                        <h3 class="font-bold no-margins">
                            普通权限
                        </h3>
                        <small>查询相关信息</small>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="widget text-center" style="background-color: #1ab394;color: #ffffff;">
                    <div class="m-b-md">
                        <i class="fa fa-bell fa-4x"></i>
                        <h1 class="m-xs">评分管理</h1>
                        <h3 class="font-bold no-margins">
                            特殊权限
                        </h3>
                        <small>领导对职工评分</small>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="widget text-center" style="background-color: #1a7bb9;color: #ffffff;">
                    <div class="m-b-md">
                        <i class="fa fa-bell fa-4x"></i>
                        <h1 class="m-xs">数据管理</h1>
                        <h3 class="font-bold no-margins">
                            系统权限
                        </h3>
                        <small>管理绩效数</small>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="widget text-center" style="background-color: yellow;color: #ffffff;">
                    <div class="m-b-md">
                        <i class="fa fa-bell fa-4x"></i>
                        <h1 class="m-xs">汇报展示</h1>
                        <h3 class="font-bold no-margins">
                            普通权限
                        </h3>
                        <small>图形统计信息</small>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>